@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

p, h1, h2, h3, h4, h5, h6, span, a, label, button {
    font-size: 1.187em;
}

body {
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
}

header {
    display: flex;
    background-color: purple;
    flex: 0.1;
    color: white;
    padding: 1em 0;
}

.login-link {
    display: none;
}

.iconed-header {
    margin-left: 0.5rem;    
}

.content {
    flex: 10;
    /*background temporario*/
    background-image: 
    url(https://s-media-cache-ak0.pinimg.com/originals/34/25/12/342512aa4866e6bfe5e0e6e314375839.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.content article {
    background: rgba(255,255,255,0.4);
    max-width: 45vw;
    padding: 1rem;
    margin-top: 1rem;
}

.centered-icon {
    vertical-align: middle;
    font-size: 42px;
}

.text-center {
    text-align: center;
}

footer {
    display: flex;
    flex-flow: row wrap;
    align-self: flex-end;
    flex: 0.1;
    width: 100vw;
    background-color: purple;
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: space-around;
}

.login {
    align-self: center;
    color: white;
}

.login input {
    border: none;
    border-bottom: 2px solid white;
    background: none;   
    width: 30%;
    color: white;
} 

.login button {
    background: white;   
    border: none;
}

.login-form {
    display: flex;
    justify-content: space-between;
}

.suporte {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: space-around;
}

.suporte a {
    align-self: center;
    margin: 0 1rem;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    .content {
        flex-flow: column wrap;          
    }
    .content article {
        max-width: 80vw;
        align-self: center;
    }

    .content article:last-child {
        margin-bottom: 1rem;
    }

    footer {
        flex-flow: column-reverse wrap;
    }

    .login {
        align-self: center;
    }

    .login button {
        flex-basis: 100%;
        border-radius: 0;              
    }

    .login input {
        width: 80vw;
        margin-bottom: 1rem;
    }    
   
    .login-form {
        display: flex;
        flex-direction: column;
    }

    .suporte {
        margin-top: 1rem;       
    }

    .login label {
        margin: 0 1px 0 1px;
    }

}

@media screen and (max-width: 670px) {
    header {
        justify-content: space-around;
    }

     .login-link {
        display: block;        
    }

    .login-link i {
        border: 2px solid white;
        color: white;
        border-radius: 50%;
    }
    
}