<div class="container">
    <div class="row   teal darken-3">

        <div class="container col s12">
            
            <form novalidate name="loginForm" ng-submit="loginForm.$valid && login(usuario)">
                <div class="container">
                    <p class="flow-text white-text">Informe suas credenciais</p>
                    <div class="input-field" id="email-input">
                        <i class="material-icons prefix white-text">email</i>
                        <input type="email" class="validate" ng-model="usuario.email" required length="150" name="email">
                        <label>Email</label>
                    </div>

                    <div class="input-field" id="senha-input">
                        <i class="material-icons prefix white-text">lock</i>
                        <input type="password" ng-model="usuario.senha" required length="150" name="senha">
                        <label>Senha</label>
                    </div>


                    <button class="btn btn-send waves-effect waves-light  teal right" type="submit">
                    Login <i class="material-icons right">send</i>
                </button>

                </div>

                
            </form>
        </div>
    </div>
</div>