<section class="content content-cadastro">
    <form novalidate class="cadastro-form" name="cadastro" ng-submit="cadastrar()">
        
        <div class="form-input">
            <label for="usuario-nome">Nome:</label>
            <input required name="nome" placeholder="ex: João de Santo Cristo" class="input-flat"type="text" ng-model="usuario.nome" id="usuario-nome">
        </div>

        <div class="form-input">
            <label for="usuario-email">Email:</label>
            <input required name="email" placeholder="joaodesantocristo@gmail.com" class="input-flat" type="email" ng-model="usuario.email" id="usuario-email">
        </div>        

        <div class="form-input">
            <label for="usuario-senha">Senha:</label>
            <input required nome="senha" class="input-flat" type="password" ng-model="usuario.senha" id="usuario-senha">
        </div>

        <div class="form-input complex-input">
            <label for="usuario-sexo complex-content">
                Sexo:                
            </label>
            <select required name="sexo" ng-model="usuario.sexo">
                <option value="F">Feminino</option>
                <option value="M">Masculino</option>
                <option value="O">Outro</option>
            </select>

            <label for="usuario-nascimento complex-content">
                Data de nascimento:
               
            </label>
             <input required name="nascimento" type="date" ng-model="usuario.dataNascimento" id="usuario-data">
        </div>

        
        
        <button type="submit" class="button-flat">Cadastre me</button>
    </form>
</section>
  
