@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
    
}

p, h1, h2, h3, h4, h5, h6, span, a, label, button, input, select {
    font-size: 1.187em;
}

a {
    text-decoration: none;
    color: white;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

body {
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
}

header {
    display: flex;
    background-color: purple;
    flex: 0.1;
    color: white;
    padding: 1em 0;    
}


.login-link {
    display: none;
}

.iconed-header {
    margin-left: 0.5rem;
    font-size: 1.4rem;
    align-self: center;
}

ng-view {
    display: flex;
    flex-flow: column nowrap;
    flex: 10;    
}

.content {
    flex: 10;      
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.content-home {
    /*background temporario*/
    background-image: 
    url(https://s-media-cache-ak0.pinimg.com/originals/34/25/12/342512aa4866e6bfe5e0e6e314375839.jpg);
    background-size: cover;
    background-position: center;
}

.content-cadastro {
    flex-flow: column nowrap;
    background-color: #e1bee7;
    justify-content: flex-start;
}

.content-cadastro form {
    align-self: center;
    width: 60vw;
    margin-top: 1rem;
}

.content-cadastro form label {
    display: block;
    
}

.content-amigos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #e1bee7;
}

.amigos-wrapper {
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
}

.amigo {
    margin: 1rem;
    width: 30%;
    flex-basis: 30%;
    background: #42a5f5;
}

.user-welcome {
    width: 100%;
}

.cadastro-form {
    display: flex;
    flex-flow: column nowrap;
}

.form-input {
    margin: 1rem 0;
}

.complex-input {
    display: flex;
    flex-flow: column nowrap;
}

.complex-content {
    align-self: center;
}

.content article {
    background: rgba(255,255,255,0.4);
    max-width: 45vw;
    padding: 1rem;
    margin-top: 1rem;
}

.centered-icon {
    vertical-align: middle;
    font-size: 42px;
}

.text-center {
    text-align: center;
}

footer {
    display: flex;
    flex-flow: row wrap;
    align-self: flex-end;
    flex: 0.1;
    width: 100vw;
    background-color: purple;
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: space-around;
}

hr {
    display: none;
}

.hr-show {
    display: block;
}

.login {
    align-self: center;
    color: white;
}

.input-flat {
    border: none;
    border-bottom: 2px solid white;
    border-left: 4px;
    background: none;   
    width: 100%;
    color: white;
} 

.input-inline {
    width: auto;
    margin: 0 0.2rem;
}

.button-flat {
    background: white;   
    border: none;
    padding: 0.5rem;
}

.button-centered {
    vertical-align: middle;
}

.button-inline {
    padding: 0;
}

.button-bordered {
    border: 1px solid rgb(169,169,169);
}

.button-search {
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 10px;
}

.button-edit {
    background: #c62828;
}

.input-search {
    border-radius: 50px;
    margin-left: 1rem;
    border: none;
}

.sm-search-icon {
    display: none;
}

.login-form {
    display: flex;
    justify-content: space-between;
}

.suporte {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: space-around;
}

.suporte a {
    align-self: center;
    margin: 0 1rem;
    color: white;
    text-decoration: none;
}
/*------------------------------------------------------------------*/
.linked {   
    font-size: 1rem;
    cursor: pointer;
}

.large {
    font-size: 42px;
}

.rounded {
    border: 2px solid black;
    border-radius: 50%;
    align-self: baseline;
}

.info-content.add-button {
    justify-content: flex-end;
}
.text-box {
    display: flex;
    justify-content: center;
    background: #f3e5f5;
    width: 100%;
    padding: 1rem;
}

textarea {
    width: 40vw;
    resize: none;
    vertical-align: middle;
}


.content-dashboard {
    flex-flow: column nowrap;
}

.content-data {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.friend-wrapper {
    flex-direction: row-reverse;
}

.content-pesquisa {
    flex-direction: column;
    justify-content: flex-start;
    background: #d1c4e9 ;
}

.content-pesquisa h3 {
    width: 100%;
}

.pesquisa-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.user {   
    display: flex;
    flex-flow: column nowrap;
    width: 30%;
    padding: 1rem;
}

.user-edit {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    background: #b71c1c;
}

.posts {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    padding: 1rem;
    flex-grow: 8;
    background: #e1bee7;    
}

.post-details {
    display: flex;
    justify-content: space-between;
}

.time {
    font-size: 0.8rem;
    font-style: italic;
}

article.post-wrapper {
    max-width: inherit;
    width: 100%;
}

.post-comments form {
    display: flex;
    justify-content: center;
}

.post-comments textarea {
    width: 60vw;
    flex: 10;
}


.comment-icon {
    font-size: 20px;
    vertical-align: middle;
}

.bottom-icon {
    vertical-align: bottom;
}

.load-posts {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.liked-post {
    color: white;
}

.not-liked-post {
    color: black;
}

.img-music {
    max-width: 200px;
    max-height: 200px;
}
.button-load {
    width: 100%;
}

.info {
    display: flex;
    flex-flow: column nowrap;  
    background: #e91e63;  
}

.info h3 {
    align-self: center;
}

.info-content {
    display: flex;
    justify-content: space-evenly;
}

.info-search {
    flex-direction: row;
    margin: 2rem;
}

.info-details {
    display: flex;
    flex-flow: column nowrap;   
    padding: 1rem;   
}

.details-search {
     background: #b39ddb;
     transition: box-shadow 0.3s;
}

.details-search:hover {
   box-shadow: 4px 4px 2px grey;
}

.details {
    display: flex;
    flex-flow: column nowrap;
}

.invites {
    margin-top: 1rem;
    padding: 1rem;
    background: #388e3c;
}

.pending-friend {
    display: flex;
    justify-content: space-between;
}

.pending-friend:nth-child(odd) {
    background: #2e7d32;
}

.pending-info {
    display: flex;
    flex-flow: column nowrap;
}

.mobile-only {
    display: none;
}

.edit-form {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    
}

.form-edit {
    align-self: center;
}

.edit-wrapper, .edit-open {
    -webkit-transition:all cubic-bezier(.17,.67,.73,.3) .5s;
    -moz-transition:all cubic-bezier(.17,.67,.73,.3) .5s;
    -o-transition:all cubic-bezier(.17,.67,.73,.3) .5s;
    transition:all cubic-bezier(.17,.67,.73,.3) .5s;
}

.edit-wrapper {
    overflow: hidden;
    opacity: 0;
    height: 0px;
    width: 0px;
}


.edit-open{    
    overflow: auto;
    opacity: 1; 
    width: 100%; 
    height: 100%;    
}

.content-music {
    background: #4e342e;
    color: white;
}

.form-music {
    display: flex;
    flex-flow: column nowrap;
}

.form-content {
    display: flex;
    flex-flow: row wrap;
}

.music-select {
    align-self: flex-end;
    margin-left: 1rem;
}

.search-result {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.item{
    align-self: center;
}


/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/

@media screen and (max-width: 1000px) {
    hr {
        display: block;
    }

    .search-result{
        width: 100%;
    }

    .details {
        flex-flow: row nowrap;
        margin: 0.5rem;
    }

    .content {
        flex-flow: column nowrap;          
    }
    .content article {
        max-width: inherit;
        align-self: center;
    }    
    
    .content article:last-child {
        margin-bottom: 1rem;
    }

    .content-cadastro form {
        width: 80vw;
    }

    footer {
        flex-flow: column nowrap;
        min-height: 20vh;
    }

    .login {
        align-self: center;
    }

    .button-flat {          
        align-self: center;         
    }

    .login input {
        width: 80vw;
        margin-bottom: 1rem;
    }    
   
    .login-form {
        display: flex;
        flex-direction: column;
    }

    .suporte {
        margin-top: 1rem;       
    }

    .login label {
        margin: 0 1px 0 1px;
    }
    /*-------------------------------------------------------------*/
    .content-data {
        flex-direction: column-reverse;  
        width: 100%;      
    }

    .user {
        
        width: 100%;
    }
   

    .info-details {
        width: 60%;
    }

    .form-edit {
        width: 80%;
    }

    
    
    article.post-wrapper {
        align-self: auto;
    }
    /*--------------------------------------------------------------*/
    .content-amigos {
        flex-flow: column wrap;
    }

    .amigos-wrapper {
        flex-flow: column wrap;
    }

    .amigo {
        margin: 1rem 0 1rem 0;
        width: 100%;
    }
    /*--------------------------------------------------------------*/
    .pesquisa-wrapper {
        flex-flow: row wrap;
        width: 100%;
        justify-content: center;
    }

    .details-search {
        width: inherit;
        margin: 0.5rem;
    }
    
    .details-friend p {
        margin: .2rem 0 .2rem 0;
    }

    .form-edit {
        display: flex;
        justify-content: center;
    }

    .button-edit {
        margin: 0 0.5rem 0 0.5rem;
    }

    .form-music {
        align-self: center;
        justify-content: center;
    }
}

@media screen and (max-width: 670px) {
    header {
        justify-content: space-around;
    }

     .login-link {
        display: block;        
    }

    .login-link i {
        border: 2px solid white;
        color: white;
        border-radius: 50%;
    }

    .search-form {
        display: none;
    }

    .sm-search-icon {
        display: block;
    }

    .mobile-only {
        display: flex;
        background: black;
        
        justify-content: space-around;
    }

    .button-search{
        padding: 2px 1rem 0 1rem;        
    }

    .button-flat {
        border-radius: 0;
    }

    .input-search {
        border-radius: 0;
    }

     .info-search {
        width: 100%;
        margin: 1rem 0 1rem 0;
    }

    .details-search {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .userFoto {
        width: 100px;
        height: 100px;
    }
}
