
<div class="content"  ng-show="auth.possuiPermissao('Gerente')" >

    <div>
    <section class="col m12">
        <form novalidate ng-submit="getRelatorioMensal(data)">
            <div class="input-field center-align">
                <input type="date" ng-model="data.Data" class="col s6">
                <button class="btn waves-effect waves-light" type="submit">Pegar relatorio</button>
            </div>

        </form>
    </section>

</div>

<ul class="center-align">
    <li ng-repeat="pedido in pedidosMensais">
        <p> ID: {{pedido.Id}} | VEICULO: {{pedido.Veiculo.Descricao}} | PACOTE: {{pedido.Pacote.Nome}} | DATA DO PEDIDO:{{pedido.DataPedido
            | date}} | DATA ENTREGA PREVISTA: {{pedido.DataEntregaPrevista | date}} | DATA REAL: {{pedido.DataEntregaReal
            | date}}</p>
    </li>
</ul>


<h3>Lucro mensal: {{lucroMensal}}</h3>


</div>

<h2 ng-hide="auth.possuiPermissao('Gerente')">Você não tem acesso a isso.</h2>