<!DOCTYPE html>
<html ng-app="pokemon">

<head>
    <title>Poke Angular</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
    <script type="text/javascript" src="https://code.angularjs.org/1.6.4/angular.js"></script>
    <style>
        body {
            padding: 30px;
            background: #FFE0B2;
            height: 100vh;
        }      

        .notification.is-danger {
            background: #FF9800;
        }
    </style>
</head>

<body>
    <div class="container is-fluid">
        <div ng-controller="controller" class="tile is-ancestor">
            <div class="tile is-parent">
                <p class="title">Poke search</p>
            </div>
            <div class="tile is-parent is-vertical">
                <div class="control is-child box notification is-danger">
                    <label for="textinput" class="title is-4">Pesquisar Pokémon:</label>
                    <input type="text " ng-model="filtro.nome" placeholder="Ex: 'charmander' " class="normal input
                        " id="textinput ">
                </div>
                <div class="control is-child box notification is-danger">
                    <label for="textinput" class="title is-4">Pesquisar Tipo:</label>
                    <input type="text " ng-model="filtro.tipo" placeholder="Ex: 'grass' " class="normal input
                        " id="textinput ">
                </div>
                <div class="control is-child box notification is-danger">
                    <label for="textinput" class="title is-4">Pesquisar Id:</label>
                    <input type="text " ng-model="filtro.id" placeholder="Ex: '4'" class="normal input
                        " id="textinput ">
                </div>
            </div>
            <div id="li-01" class="tile is-parent ">
                 <ul>
                    <div class="notification is-danger is-child " style="height: 400px;  overflow: auto;">
                        <p class="title ">Poke id</p>
                        <li ng-repeat="objPoke in objPokemons | filter: {id : filtro.id} ">
                            <a ng-href="http://www.pokemon.com/br/pokedex/{{objPoke.id}} ">{{objPoke.nome}}</a>           
                            <span>{{objPoke.tipo}}</span>                 
                        </li>
                    </div>
                </ul>
            </div>
            <div class="tile is-parent ">
                <ul>                    
                    <div class="notification is-danger is-child " style="height: 400px;  overflow: auto;">
                        <p class="title ">Poke name</p>
                        <li ng-repeat="pokemon in pokemons | filter: filtro.nome ">                           
                            <a ng-href="http://www.pokemon.com/br/pokedex/{{pokemon}} " target="_blank ">{{pokemon}}</a> 
                        </li>
                    </div>
                </ul>
            </div>
            <div class="tile is-parent ">
                <ul>                    
                    <div class="notification is-danger is-child " style="height: 400px;  overflow: auto;">
                        <p class="title ">Poke type</p>
                        <li ng-repeat="tipo in tipos | filter: filtro.tipo">                           
                            <a ng-href="http://www.pokemon.com/br/pokedex/{{pokemon}} " target="_blank ">{{tipo}}</a> 
                        </li>
                    </div>
                </ul>
            </div>               
        </div>

    </div>
    <script type="text/javascript " src="script.js "></script>
    <script type="text/javascript " src="pokemon-names.min.js "></script>
</body>

</html>

<!--<h1>Vc escolheu: {{ pokemon.nome }}</h1>
            <input type="text " ng-model="pokemon.nome " placeholder="Renomeie. Ex: Wartotle ">
             
            <h3>Tipo: {{ pokemon.tipo }}</h3>
            <input type="text " ng-model="pokemon.tipo " placeholder="Mude o tipo. Ex: Psiquico ">

<p class="subtitle is-5 ">
                        {{pokemon.tipo}}
                    </p>-->