<div class="container">
    <div class="row">
        <form novalidate name="formLogin">
            <div class="input-field">
                
                <input type="email" name="email" ng-model="usuario.email" placeholder="Email">
                <input type="password" name="password" ng-model="usuario.senha" placeholder="Senha">
            </div>

            <a ng-click="login(usuario)" class="col s12  waves-effect waves-light btn-large center-align">
                <i class="material-icons left">perm_identity</i>
            Fazer login</a>
            
        </form>
    </div>

</div>