<div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Instrutores
                <span>
                <a class="btn btn-default pull-right" role="button" data-toggle="collapse" data-target="#formInstrutores" aria-expanded="false" aria-controls="collapseExample">
                    Editar
                    <span class="caret"></span>
                </a>
                </span>
            </h3>


        </div>
        <div class="panel-body">
            <div class="notifications">

                <div class="alert alert-warning alert-dismissible" role="alert" ng-show="adicionaInstrutor.id.$error.notAvailableInstructor">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                        </button> O instrutor está dando aula!
                </div>
                <div class="alert alert-success alert-dismissible" role="alert" ng-show="success.add">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button> Instrutor adicionado com sucesso!
                </div>
                <div class="alert alert-success alert-dismissible" role="alert" ng-show="success.modify">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> Instrutor modificado com sucesso!
                </div>
                <div class="alert alert-success alert-dismissible" role="alert" ng-show="success.delete">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> Instrutor deletado com sucesso!
                </div>
                <div class="alert alert-danger alert-dismissible" role="alert" ng-show="adicionaInstrutor.nome.$error.maxlength"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button> Nome muito longo (max:20)
                </div>
                <div class="alert alert-danger alert-dismissible" role="alert" ng-show="adicionaInstrutor.nome.$error.minlength"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button> Nome muito curto (min:03)
                </div>
                <div class="alert alert-danger alert-dismissible" role="alert" ng-show="adicionaInstrutor.nome.$error.unic"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button> Instrutor com esse nome já cadastrado!
                </div>                            
                <div class="alert alert-danger alert-dismissible" role="alert"  ng-show="adicionaInstrutor.id.$error.notFoundInstructor"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button> Não há instrutor com esse ID!
                </div>
                <div class="alert alert-danger alert-dismissible" role="alert"  ng-show="adicionaInstrutor.email.$error.duplicatedEmail"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button> Email já cadastrado no sistema!
                </div>
                <div class="alert alert-danger alert-dismissible" role="alert"  ng-show="adicionaInstrutor.idade.$error.max"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button> Idade inválida
                </div>
                <div class="alert alert-danger alert-dismissible" role="alert"  ng-show="adicionaInstrutor.sobrenome.$error.maxlength"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button> Máximo 30 caracteres
                </div>
                <div class="alert alert-danger alert-dismissible" role="alert"  ng-show="adicionaInstrutor.email.$error.email"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button> Email Inválido. Verifique a digitação
                </div>


            </div>

            <div class="collapse" id="formInstrutores">
                <div class="well">
                    <form novalidate class="form" name="adicionaInstrutor">
                        <label for="nome">Nome:</label>
                        <input type="text" class="form-control" name="nome" ng-model="instrutor.nome" ng-model-options="{ updateOn: 'blur' }" required ng-minlength="3" ng-maxlength="20"
                            placeholder="Obrigatório e único" unico-ins>                                        
                        <label for="nome">Sobrenome:</label>
                        <input type="text" class="form-control" name="sobrenome" ng-model="instrutor.sobrenome" ng-model-options="{ updateOn: 'blur' }" ng-maxlength="30" placeholder="Opcional">

                        <label for="idade">Idade:</label>
                        <input type="number" class="form-control" max="90" min="1" name="idade" ng-model="instrutor.idade" ng-model-options="{ updateOn: 'blur' }" required ng-maxlength="90" placeholder="Obrigatório">
                        
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" name="email" ng-model="instrutor.email" ng-model-options="{ updateOn: 'blur' }" required placeholder="Obrigatório" nao-duplicado>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="dandoAula" ng-model="instrutor.dandoAula">                                
                                <strong>Dando aula?</strong>
                            </label>
                        </div>
                        <span><strong>Aulas:</strong></span>
                        <div class="checkbox-inline" ng-repeat="aula in aulas">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="{{aula.nome}}" ng-show="aula.nome" ng-true-value="{{aula.id}}" ng-model="instrutor.aula[aula.id]">
                                    {{aula.nome}}                      
                                    </label>
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <label for="urlFoto">URL da Foto:</label>
                            <input type="text" class="form-control" name="url" ng-model="instrutor.urlFoto" placeholder="Opcional">
                        </div>

                        <div class="has-warning form-group">
                            <label class="control-label" for="idInstrutor">ID do Instrutor:</label>
                            <input type="number" class="form-control" name="id" ng-model="instrutor.id" placeholder="Apenas para Exclusão/Modificação de Instrutor"
                                instrutor-da-aula existe-instrutor>
                        </div>                                    

                        <div class="input-group btn-group btn-group-justified">
                            <div class="btn-group">
                                <button class="btn btn-primary" ng-click="addInstrutor()">Adicionar Instrutor</button>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-warning" ng-click="modInstrutor()">Alterar dados</button>

                            </div>
                            <div class="btn-group">
                                <button class="btn btn-danger" ng-click="delInstrutor()">DELETAR INSTRUTOR</button>

                            </div>

                        </div>
                    </form>
                </div>
            </div>


        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Foto</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Idade</th>
                    <th>Email</th>
                    <th>Dando Aula</th>
                    <th>Aulas</th>
                </tr> 
            </thead>
            
            <tbody ng-repeat="instrutor in instrutores | orderBy:'nome'">
                <tr>                            
                <td>{{instrutor.id}}</td>
                <td><img ng-src="{{instrutor.urlFoto}}"></td>
                <td>{{instrutor.nome}}</td>
                <td>{{instrutor.sobrenome}}</td>
                <td>{{instrutor.idade}}</td>
                <td>{{instrutor.email}}</td>
                <td>{{instrutor.dandoAula}}</td>
                <td>
                    <p ng-repeat="a in instrutor.aula">{{aulas[a].nome}}</p>
                </td>
            </tr>
            
            </tbody>                       
            
        </table>
    </div>
