<!DOCTYPE html>
<html lang="pt-br" ng-app="crudApp">

<head>
    <title>CRUD</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">
    <!--/css-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1" ng-controller="aulaController">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3>Aulas</h3>
                    </div>
                    <div class="panel-body">
                        <div class="notifications">
                            <div class="alert alert-danger" role="alert" ng-show="adicionaAula.aula.$error.maxlength">Nome muito longo (max:20)</div>
                            <div class="alert alert-danger" role="alert" ng-show="adicionaAula.aula.$error.minlength">Nome muito curto (min:03)</div>
                            <div class="alert alert-danger" role="alert" ng-show="adicionaAula.aula.$error.unic">Aula já cadastrada!</div>
                            <div class="alert alert-danger" role="alert" ng-show="modificaAula.achaAula.$error.inexistentClass">Aula não existente!</div>
                            <div class="alert alert-success" role="alert" ng-show="success.add">Aula adicionada com sucesso!</div>
                            <div class="alert alert-success" role="alert" ng-show="success.modify">Aula modificada com sucesso!</div>
                        </div>

                        <form novalidate class="form-group" name="adicionaAula">
                            <div class="input-group">
                                <input class="form-control" type="text" name="aula" ng-model="aula.nome" placeholder="Insira uma nova aula..." ng-minlength="3"
                                    ng-maxlength="20" required unica-aula>
                                <span class="input-group-btn"><button ng-click="addAula()" class="btn btn-primary">Adicionar</button></span>
                            </div>
                        </form>

                        <form novalidate class="form-inline form-group" name="modificaAula">
                            <div class="form-group">
                                <input type="text" class="form-control" name="achaAula" ng-model="mod.acha" placeholder="Substituir..." required existe-essa-aula>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" type="text" name="novaAula" ng-model="mod.novo" placeholder="Por..." required>
                                    <span class="input-group-btn"><button ng-click="modAula()" class="btn btn-warning">Alterar</button></span>
                                </div>
                            </div>
                        </form>

                        <form novalidate class="form-group" name="removeAula">
                            <div class="input-group">
                                <input type="text" class="form-control" name="delAula" ng-model="delAula" placeholder="Quero deletar essa aula...">
                                <span class="input-group-btn"> <button ng-click="delAula()" class="btn btn-danger">DELETAR</button></span>
                            </div>
                        </form>

                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="aula in aulas">
                            {{aula.nome}} <span class="badge">{{aula.id}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-1" ng-controller="instrutorController">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3>Instrutores</h3>
                    </div>
                    <div class="panel-body">
                        <div class="notifications">
                            <!--TODO adicionar notificações de sucesso e falha-->
                        </div>
                        <form novalidate class="form" name="adicionaInstrutor">

                            <label for="nome">Nome:</label>
                            <input type="text" class="form-control" name="nome" ng-model="instrutor.nome" required ng-minlength="3" ng-maxlength="20">

                            <label for="nome">Sobrenome:</label>
                            <input type="text" class="form-control" name="sobrenome" ng-model="instrutor.sobrenome" ng-maxlength="30">

                            <label for="idade">Idade:</label>
                            <input type="number" class="form-control" name="idade" ng-model="instrutor.idade" required ng-maxlength="90">

                            <label for="email">Email:</label>
                            <input type="email" class="form-control" name="email" ng-model="instrutor.email" required>

                            <div class="checkbox">
                                <label for="dandoAula">
                                    <input type="checkbox" name="dandoAula" ng-model="instrutor.dandoAula">                                
                                    <strong>Dando aula?</strong>
                                </label>
                            </div>
                            <span><strong>Aulas:</strong></span>
                            <div class="checkbox-inline" ng-repeat="aula in aulas">                                
                                <label for="{{instrutor.aula}}">
                                    <input type="checkbox" name="{{aula.nome}}" ng-model="instrutor.aula[aula.id]">                      
                                    {{aula.nome}}
                                </label>                               
                            </div>

                            <div>
                                 <label for="urlFoto">URL da Foto:</label>
                                <input type="text" class="form-control" name="url" ng-model="instrutor.urlFoto">
                            </div>
                           
                           <div class="input-group">
                            <button class="btn btn-primary" ng-click="addInstrutor()">Adicionar Instrutor</button>

                           </div>
                        </form>

                    </div>
                    <table class="table table-striped">
                        <tr>
                            <th>ID</th>
                            <th>Foto</th>
                            <th>Nome</th>
                            <th>Sobrenome</th>
                            <th>Idade</th>
                            <th>Email</th>
                            <th>Dando Aula</th>
                            <th>Aulas</th>
                        </tr>
                        <tr ng-repeat="instrutor in instrutores | orderBy:'nome'">
                            <td>{{instrutor.id}}</td>
                            <td>{{instrutor.urlFoto}}</td>
                            <td>{{instrutor.nome}}</td>
                            <td>{{instrutor.sobrenome}}</td>
                            <td>{{instrutor.idade}}</td>
                            <td>{{instrutor.email}}</td>
                            <td>{{instrutor.dandoAula}}</td>
                            <td><span ng-repeat="aula in instrutor.aula | orderBy:'aula' ">{{aula}}</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>