<!DOCTYPE html>
<html ng-app="pokemon">

<head>
    <title>Poke Angular</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
    <script type="text/javascript" src="https://code.angularjs.org/1.6.4/angular.js"></script>
    <style>
    body{background:red;}
    </style>
</head>

<body>
    <div ng-controller="controller" class="tile is-parent">
        <input type="text" ng-model="filtro" class="input">
        <ul class="">
            <li ng-repeat="pokemon in pokemons | filter: { nome: filtro } ">
                <span>Nome: {{pokemon.nome | uppercase}}</span>
                <span>Tipo: {{pokemon.tipo}}</span>
            </li>
        </ul>


        <!--<h1>Vc escolheu: {{ pokemon.nome }}</h1>
            <input type="text" ng-model="pokemon.nome" placeholder="Renomeie. Ex: Wartotle">
             
            <h3>Tipo: {{ pokemon.tipo }}</h3>
            <input type="text" ng-model="pokemon.tipo" placeholder="Mude o tipo. Ex: Psiquico">-->

    </div>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>