
.news .card {
    background: none;
    box-shadow: none;
}

nav.row {
    height: 40px;
    line-height: 40px;
}

.news .small {
    height: inherit;
}

#warning-notfound{
    position: relative;
    top: 20px;
}

.btn-send {
    margin-bottom: 20px;
}

.btn-floating {
    position: relative;
    top: 50%;
}
 
.livro-capa {
    max-width: 664px;
    max-height: 400px;
    text-align: center;
    margin: auto;
}

*::-webkit-scrollbar {width: 10px; height: 10px; border: 7px solid #e0e0e0;}
*::-webkit-scrollbar-button:vertical {display: block;}
*::-webkit-scrollbar-thumb:vertical {background-color: #bdbdbd;}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: rgb(249,249,249);
}

.progress {
    position: relative;
    top:0;

}
