<section class="content content-dashboard">
    <div class="text-box">
        <form novalidate ng-submit="postar()">
            <textarea class="textarea" required ng-maxlength="1023" ng-model="post.texto" placeholder="Escreve algo aí"></textarea>
            <button type="submit" class="button-flat button-centered button-bordered">
                Publicar
                <i class="material-icons button-centered">send</i>
            </button>
        </form>
    </div>
    <section class="content-data">
        <div class="posts">
            <article ng-repeat="post in posts" class="post-wrapper">
                <section class="post-content">
                    <div class="post-details">
                        <p><a ng-href="/#!/amigo/{{post.usuario.idUsuario}}"><i>{{post.usuario.nome}} disse...</i></a></p>
                        <p class="time">{{post.dataPost | timeago }}</p>
                    </div>

                    <p>
                        <pre>{{post.texto}}</pre>
                    </p>
                    <span class="linked" ng-click="curtir(post.idPost)" ng-class="corLike(post.idPost)">
                        <i class="material-icons bottom-icon" >favorite</i>
                        Amei {{post.curtidaList.length ? post.curtidaList.length : ' - Seja o primeiro a curtir' }}
                    </span>
                    <hr class="hr-show">
                    <div class="post-comments">
                        <div ng-repeat="comentario in post.comentarioList">
                            {{comentario.usuario.nome}}:  {{comentario.comentario}}
                        </div>
                        <form novalidade ng-submit="comentar(post.idPost)">
                            <textarea required ng-model="comentario[post.idPost].comentario"></textarea>
                            <button type="submit" class="button-flat button-bordered">
                                Comentar
                                <i class="material-icons bottom-icon">comment</i>
                            </button>
                        </form>
                    </div>
                </section>
            </article>

            <section ng-hide="ultimaPagina" class="load-posts">
                <button class="button-flat button-load linked" ng-click="carregarPosts()">
                    Carregar mais...
                </button>
            </section>
        </div>
        <div class="user">
            <div class="info">
                <h3>Meu perfil</h3>
                <section class="details">

                    <img ng-src="{{infoUsuario.urlFoto}}" class="userFoto">

                    <div class="info-details">
                        <div class="info-content">
                            <p><b>Nome:</b></p>
                            <p>{{infoUsuario.nome}}</p>
                        </div>
                        <div class="info-content">
                            <p><b>Email:</b></p>
                            <p>{{infoUsuario.email}}</p>
                        </div>
                    </div>

                </section>

            </div>
            <div class="user-edit">
                <button class="button-flat button-centered button-edit linked" ng-click="open='edit-open'">Editar perfil</button>
                <section class="edit-wrapper" ng-class="open">
                    <form novalidate class="edit-form" name="edit">

                        <div class="form-input form-edit">
                            <label for="usuario-nome">Nome:</label>
                            <input required name="nome" class="input-flat" type="text" ng-model="infoUsuario.nome" id="usuario-nome">
                        </div>

                        <div class="form-input form-edit">
                            <label for="usuario-senha">Senha:</label>
                            <input required nome="senha" placeholder="vazio se não mudar senha" class="input-flat" type="password" ng-model="infoUsuario.senha"
                                id="usuario-senha">
                        </div>

                        <div class="form-input form-edit complex-input">
                            <label for="usuario-sexo complex-content">
                                Sexo:                
                            </label>
                            <select required name="sexo" ng-model="infoUsuario.sexo">
                                <option value="F">Feminino</option>
                                <option value="M">Masculino</option>
                                <option value="O">Outro</option>
                            </select>

                            <label for="usuario-nascimento complex-content">
                                Data de nascimento:                            
                            </label>
                            <input required name="nascimento" type="date" ng-model="infoUsuario.dataNascimento" id="usuario-data">
                        </div>

                        <div class="form-input form-edit">
                            <button ng-click="editar()" class="button-flat button-edit linked">Salvar</button>
                            <button class="button-flat button-edit linked" ng-click="closeEdit()">Cancelar</button>
                        </div>

                    </form>

                </section>
            </div>
            <div ng-show="amizadesPendentes.length !== 0" class="invites">
                <h3 class="text-center">Solicitações pendentes</h3>
                <section class="pending-friend" ng-repeat="amigo in amizadesPendentes">
                    <div class="pending-info">
                        <span><a href="/#!/amigo/{{amigo.idUsuario}}">{{amigo.nome}}</a></span>
                        <span>{{amigo.email}}</span>
                    </div>
                    <div class="pending-options">
                        <i class="material-icons centered-icon linked large" ng-click="aceitarAmigo(amigo.idUsuario)">add</i>
                        <i class="material-icons centered-icon linked large" ng-click="recusarAmigo(amigo.idUsuario)">clear</i>
                    </div>

                </section>
            </div>


        </div>
    </section>

</section>