<section class="content content-dashboard">
    <div class="text-box">
        <form novalidate ng-submit="postar()">
            <textarea class="textarea" required ng-maxlength="1023" ng-model="post.texto" placeholder="Escreve algo aí"></textarea>
            <button type="submit" class="button-flat button-centered button-bordered">
                Publicar
                <i class="material-icons button-centered">send</i>
            </button>
        </form>
    </div>
    <section class="content-data">
        <div class="posts">
            <article ng-repeat="post in posts" class="post-wrapper">
                <section class="post-content">
                    <div class="post-details">
                        <p><i>{{post.usuario.nome}}</i></p>
                        <p class="time">{{post.dataPost | timeago }}</p>
                    </div>
                    
                    <p>                        
                        <pre>{{post.texto}}</pre>
                    </p>
                    <hr class="hr-show">
                    <span class="linked">
                        <i class="material-icons bottom-icon">favorite</i>
                        Amei
                    </span>
                    <div class="post-comments">
                        <div ng-repeat="comentario in post.comentarioList">
                            {{comentario.comentario}}
                        </div>
                        <hr class="hr-show">
                        <form novalidade ng-submit="comentar()">
                            <textarea required ng-model="comentario.texto"></textarea>
                            <button type="submit" class="button-flat button-bordered">
                                Comentar
                                <i class="material-icons bottom-icon">comment</i>
                            </button>
                        </form>
                    </div>
                </section>               
            </article>

            <section ng-hide="ultimaPagina" class="load-posts">
                <button class="button-flat button-load linked" ng-click="carregarPosts()">
                    Carregar mais...
                </button>
            </section>
        </div>
        <div class="user">
            <div class="info">
               
            </div>
            <div class="invites">
               
            </div>
        </div>
    </section>

</section>